@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Commissioner', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: var(--other-c);
}

:root {
    --button-c: hsl(176, 50%, 47%);
    --para-c: hsl(0, 0%, 48%);
    --head-c: hsl(0, 0%, 0%);
    --card-c: white;
    --other-c: hsl(176, 72%, 28%);
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: white;
}

header {
    background: url("../images/image-hero-mobile.jpg") no-repeat top fixed;
    box-shadow: inset 0 80px 35px -10px rgba(0, 0, 0, .5);
    background-size: contain;
    min-height: 37vh;

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.3rem;

        input {
            display: none;
        }
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        z-index: 100 !important;
        position: relative;
        box-shadow: 0 0 50px 10px rgb(32, 32, 32);
        width: 85%;
        margin: .5rem auto 0;
        border-radius: 10px;
        background-color: white;

        .mid {
            border-top: 1px lightgray solid;
            border-bottom: 1px lightgray solid;
        }

        .items {
            font-weight: 500;
            padding: 1.48rem;
        }
    }
}


// utility 


.card {
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px #dddddd solid;
    background-color: var(--card-c);
}

.buttons {
    border-radius: 50px;
    border: none;
    background-color: var(--button-c);
    color: white;
    font-weight: 800;
}


.cards-two {
    border: 1px #b6b6b6 solid;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2rem;

    .upper-section {
        padding: 2rem 1.5rem;
    }


    .upper {
        display: flex;
        align-items: center;

        input {
            appearance: none;
            background-color: white;
            border: 1px solid #7a7a7a;
            border-radius: 50%;
            cursor: pointer;
            height: 25px;
            transition-duration: .5s;
            width: 25px;
        }

        input:checked {
            background-color: var(--button-c);
            box-shadow: inset 0 0 0 5px white;
        }

        input:disabled {
            cursor: not-allowed;
        }

        .no {
            margin-left: 1rem;
        }


        label {
            color: var(--head-c);
            font-weight: 900;
            font-size: .9rem;
            margin-left: 0;

            &:hover {
                cursor: pointer;
                color: var(--button-c)
            }
        }

        .dis {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h3 {
                margin: 0;
            }

            margin-left: 1rem;

            span {
                font-size: .85rem;
                color: var(--button-c);
                font-weight: 500;
            }
        }
    }

    .details {
        margin: 1rem 0 0;
    }

    .pri {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        color: var(--head-c);
        font-weight: 900;
        position: relative;

        span {
            font-size: 1rem;
            font-weight: 400;
            color: var(--para-c);
            position: absolute;
            margin-left: .5rem
        }
    }

    aside {
        border-top: 1px #7a7a7a solid;
        display: none;
        width: 100%;
        text-align: center;
        padding: 1.3rem 0;
        flex-direction: column;

        .error {
            font-size: 1rem;
        }

        .inter {
            padding: 1rem .8rem 0;
            gap: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                border: 1px #a9a9a9 solid;
                position: relative;
                width: 100%;
                border-radius: 100px;
                padding: 1rem;
                appearance: textfield;
                text-align: right;
                font-size: 1.1rem;
            }

            label {
                width: 50%;
            }

            button {
                width: 50%;
                padding: 1rem;
                border-radius: 100px;
                border: none;
                background-color: var(--button-c);
                font-size: 1rem;
                font-weight: 500;
                color: var(--card-c);
            }
        }

    }

}

.inner-stats {
    border-bottom: 1px #a2a2a2 solid;
    width: 50%;
    margin: 0 auto 2rem;
    padding-bottom: 1rem;
}

.inner-cards {
    margin-top: 2rem;
    padding: 1.1rem;
    border: 1px #e4e4e4 solid;
    border-radius: 10px;

    h3 {
        margin-bottom: .5rem;
        font-size: 1rem;
    }

    .pledge {
        font-size: .9rem;
        font-weight: 500;
        color: var(--button-c);
    }

    .info {
        margin-top: 1.5rem;
    }

    aside {
        margin-top: 1.5rem;


        .num {
            font-size: 2rem;
            font-weight: 700;
            color: var(--head-c);
            position: relative;

            span {
                font-weight: 300;
                font-size: 1rem;
                font-size: 1rem;
                margin-left: 10px;
                position: absolute;
                top: -2px;
                color: var(--para-c)
            }
        }

        .select {
            margin-top: 2rem;
            color: var(--card-c);
            padding: 1rem 2rem;
        }

    }
}

.display {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--head-c);
}

p {
    color: var(--para-c);
    font-size: .85rem;
    line-height: 25px;
}

main {
    z-index: 1;
    position: relative;

    .cards {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: -3.5rem auto 0;


        .main-card {
            text-align: center;

            .masterLogo {
                margin-top: -10%;
            }

            .master-heading {
                margin: 2rem 0 1rem;
                font-size: 24px;
            }

            .about {
                padding: 0 1rem;
            }

            .interactive {
                padding: 2rem;
                display: flex;
                justify-content: space-between;

                .back-project {
                    padding: 1rem 2.5rem;
                }

                input {
                    display: none;
                }

                label {
                    cursor: pointer;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .stats-card {
        margin: 1.5rem auto;
        text-align: center;
        padding: 2rem 1rem;

        h2 {
            font-size: 2rem;
        }

        p {
            margin-top: .5rem
        }

        .progress {
            width: 100%;
            height: .8rem;
            background-color: rgb(224, 224, 224);
            border-radius: 50px;

            .progress-one {
                width: 80%;
                height: inherit;
                border-radius: 50px;
                background-color: var(--button-c);
            }
        }
    }

    .about-card {
        padding: 1.5rem;
        margin-bottom: 4rem;

        .more-one {
            margin-top: 1.3rem;
        }

        .more-two {
            margin-top: 2rem;
        }

        .Mahogany-card {
            position: relative;

            .select {
                background-color: gray;
            }
        }

        .Mahogany-card::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            top: 0;
            left: 0;
            opacity: .5;
        }


    }

}

.back-page {

    box-shadow: 0 0 100px 10px black;
    z-index: 200;
    position: relative;
    background-color: white;
    padding: 2rem 1.5rem;

    .back-upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.1rem;

        input {
            display: none;
        }

        label {
            cursor: pointer;
        }
    }

    .inner {
        margin: 1.5rem 0;

    }

    .back-mahogany-card {
        position: relative;
    }

    .back-mahogany-card::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: white;
        opacity: .5;
    }
}

.aside-card {
    margin: 50% auto;
    box-shadow: 0 0 100px black;
    position: relative;
    z-index: 400;
    text-align: center;
    padding: 2rem 1.5rem;

    .headThanks {
        margin: 1rem 0 1.5rem 0;
        font-size: 1.3rem;
    }

    .got {
        margin-top: 2rem;
        padding: 1rem 2rem;
    }
}


@media only screen and (min-width: 1300px) {
    header {
        background: url('../images/image-hero-desktop.jpg') no-repeat top fixed;
        min-height: 45vh;

        .nav-bar {
            padding: 4rem 10rem;

            .desktop-menu {
                display: flex;
                width: 30%;
                justify-content: space-between;
                align-items: center;

                span {
                    a {
                        color: white;
                        text-decoration: none;
                    }

                }
            }
        }

        label {
            display: none;
        }

        .mobile-menu {
            display: none;
        }

    }

    main {
        .cards {
            width: 60%;

            .main-card {
                .master-heading {
                    font-size: 2rem;
                }

                .interactive {

                    label {

                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        border-radius: 50px;
                        background-color: lightgray;

                        span {
                            display: inline;
                            margin-right: 1rem;
                            color: var(--para-c);
                            font-weight: 900;
                        }
                    }
                }
            }


            .stats-card {
                .column {
                    display: flex;

                    .inner-stats {
                        border: none;
                    }

                    .backed {
                        border-right: 1px solid #7a7a7a;
                        border-left: 1px solid #7a7a7a;
                    }
                }
            }

            .about-card {
                .inner-cards {
                    .up {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    aside {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }


    }

    .back-page {
        width: 60%;

        .inner {
            .upper-section {
                position: relative;
            }


            .upper {

                .dis {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                }
            }

            .pri {
                position: absolute;
                top: 8px;
                right: 60px;

            }

            aside {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 2rem;
                padding-right: 2rem;

                .error {
                    font-size: 1.3rem;
                }

                .inter {
                    width: 50%;
                }
            }
        }
    }

    .thanks {
        width: 40%;
        padding: 2rem 5rem;
    }

}