@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
}

.hide {
    display: none;
}

body {
    height: 100vh;
}


header {
    background: url("/images/image-hero-mobile.jpg") no-repeat fixed top;
    background-size: contain;
    background-color: white;
    box-shadow: inset 0 80px 35px -10px rgba(0, 0, 0, .5);
    min-height: 40vh;
    z-index: 100;

    .nav-bar {
        padding: 2rem 1.3rem;
        display: flex;
        justify-content: space-between;

        input {
            display: none;
        }
    }

    .mobile-menu-cont {
        background-color: white;
        width: 80%;
        margin: 1rem auto;
        border-radius: 20px;
        box-shadow: 0 10px 100px -30px #000;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;


        ul {
            display: flex;
            flex-direction: column;


            li {
                width: 100%;
                padding: 1.5rem 1.5rem;
                border-bottom: 1px #ECECEC solid;

                a {
                    color: black;
                    position: relative;
                    font-weight: 500;
                }

                a::after {
                    content: '';
                    width: 100%;
                    bottom: -5px;
                    left: 0;
                    position: absolute;
                    height: .1rem;
                    background-color: #000;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all 400ms ease;
                }

                a:hover::after {
                    transform: scaleX(1);
                    transform-origin: center;
                }
            }

            .none {
                border: none;
            }
        }
    }
}


.cards {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
}

.neutral {
    font-size: .8rem;
    font-weight: 400;
    line-height: 20px;
    color: hsl(0, 0%, 48%);
}

.mainHeadings {
    color: black;
    font-size: 1.3rem;
}


main {
    border: 1px transparent solid;
    background-color: white;
    position: relative;
}

.stuff {
    z-index: 0;
    width: 85%;
    margin: -5rem auto 0;
}

.mastercraft {

    .master-icon {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -4.5%;
    }

    .textInfo {
        margin: 3rem 1rem 2rem;

        .about {
            margin-top: 1rem;
        }

        .inter {
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;

            .proj {
                border: none;
                padding: 1rem 2.5rem;
                font-size: 1rem;
                font-weight: 500;
                color: white;
                background-color: hsl(176, 50%, 47%);
                border-radius: 50px;
            }

            .bookmark {
                border: none;
                background: none;
            }
        }
    }

}

.card2 {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    margin: 2rem auto;
    border: 1px #F2F2F2 solid;
}

.innerCard {
    width: 100%;
    padding: 1.5rem;

    border: 1px #D8D8D8 solid;

    .prod {
        font-size: 1rem;
    }

    .offer {
        margin-top: .4rem;
        color: hsl(176, 50%, 47%);
        font-size: .9rem;
    }

    article {
        margin: 2rem 0;
        font-size: .9rem;
        color: hsl(0, 0%, 48%);
    }

    aside {
        p {
            font-size: 2rem;
            color: black;
            font-weight: 700;
            margin-bottom: 1.5rem;

            span {
                font-size: 1rem;
                margin-left: .6rem;
                position: absolute;
                font-weight: 300;
                color: hsl(0, 0%, 48%);
            }
        }

        button {
            border: none;
            padding: 1rem 2rem;
            border-radius: 50px;
            font-weight: 700;
            color: white;
            background: hsl(176, 50%, 47%);
            position: relative;
            overflow: hidden;
            z-index: 0;
        }

        button::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: cyan;
            opacity: .5;
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: all 600ms ease-out;
        }

        button:hover::after {
            transform: scaleX(1);
            cursor: pointer;
        }

    }



}

.statics {
    h2 {
        font-size: 32px;
        margin-bottom: .5rem;
    }

    p {
        border-bottom: 1px #D7D7D7 solid;
        margin: 0 5rem 1rem;
        padding-bottom: 1rem;
    }

    .days {
        p {
            border: none;
        }
    }

    .progress-bar {
        width: 100%;
        background-color: #e4e4e4;
        height: .8rem;
        border-radius: 50px;

        .progress {
            width: 76%;
            background-color: hsl(176, 50%, 47%);
            height: 100%;
            border-radius: 50px;
        }
    }
}

.about-project {
    .about-head {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    p {
        font-size: .9rem;
        color: hsl(0, 0%, 48%);
        line-height: 25px;
    }

    .about-para2 {
        margin-top: 2rem;
    }
}

.mahogany {
    position: relative;

    aside {
        button {
            background-color: #767575;
        }
    }
}

.mahogany::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    opacity: .6;
}

.back-project {
    border: 1px red solid;
    width: 85%;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    background: white;
    border-radius: 10px;
    margin: 0 auto 0;
    padding: 2rem 1rem;

    .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .back-heading {
            font-size: 1.3rem;
        }

        input {
            display: none;
        }

        label {
            img {
                width: 1.2rem;
            }
        }
    }

    .info {
        margin: 2rem auto;
        font-size: .9rem;
    }

    .selCards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    .pledge {
        border: 1px red solid;
        border-radius: 10px;
        padding: 2rem 1.4rem;

        .up {
            display: flex;
            gap: 1rem;
            align-items: center;

            .sel {
                width: 1.5rem;
                height: 1.5rem;
                border: 1px red solid;
                border-radius: 100px;
            }

            h3 {
                font-size: 1rem;
            }
        }

        .arti {
            margin-top: 2rem;
            font-size: .9rem;
            line-height: 25px;
        }

    }

    .specialPledge {
        overflow: hidden;

        .hed {

            p {
                margin-top: .7rem;
                color: hsl(176, 50%, 47%);
            }
        }

        .left {
            margin: 2rem 0;
            font-size: 1.5rem;
            color: black;
            font-weight: 700;

            span {
                font-size: 1.3rem;
                margin-left: .6rem;
                position: absolute;
                font-weight: 300;
                color: hsl(0, 0%, 48%);
            }
        }

        .lower {
            border-top: 1px black solid;
            width: 120%;
            margin-left: -1.45rem;
            padding: 2rem 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .input {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 1.5rem;
                ;

                input {
                    width: 6.5rem;
                    border-radius: 50px;
                    border: 1px red solid;
                }

                label {
                    padding: 1rem 2rem;
                    background-color: hsl(176, 50%, 47%);
                    color: white;
                    border-radius: 50px;
                    font-weight: 700;
                }
            }

            .error {
                margin-top: 1rem;
                align-self: flex-start;
                color: red;
            }

        }
    }
}