@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Commissioner', sans-serif;
}

:root {
    --button-c: hsl(176, 50%, 47%);
    --para-c: hsl(0, 0%, 48%);
    --head-c: hsl(0, 0%, 0%);
    --card-c: white;
    --other-c: hsl(176, 72%, 28%);
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: white;
}

header {
    background: url("../images/image-hero-mobile.jpg") no-repeat top fixed;
    box-shadow: inset 0 80px 35px -10px rgba(0, 0, 0, .5);
    background-size: contain;
    min-height: 37vh;

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.3rem;

        input {
            display: none;
        }
    }

    .mobile-menu {
        z-index: 100 !important;
        position: relative;
        box-shadow: 0 0 50px 10px rgb(32, 32, 32);
        width: 85%;
        margin: .5rem auto 0;
        border-radius: 10px;
        background-color: white;

        .mid {
            border-top: 1px lightgray solid;
            border-bottom: 1px lightgray solid;
        }

        .items {
            font-weight: 500;
            padding: 1.48rem;
        }
    }
}


// utility 
.card {
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px #dddddd solid;
    background-color: var(--card-c);
}

.buttons {
    border-radius: 50px;
    border: none;
    background-color: var(--button-c);
    color: white;
    font-weight: 800;
}

.inner-stats {
    border-bottom: 1px #a2a2a2 solid;
    width: 50%;
    margin: 0 auto 2rem;
    padding-bottom: 1rem;
}

.inner-cards {
    margin-top: 2rem;
    padding: 1.1rem;
    border: 1px #e4e4e4 solid;
    border-radius: 10px;

    h3 {
        margin-bottom: .5rem;
        font-size: 1rem;
    }

    .pledge {
        font-size: .9rem;
        font-weight: 500;
        color: var(--button-c);
    }

    .info {
        margin-top: 1.5rem;
    }

    aside {
        margin-top: 1.5rem;

        .num {
            font-size: 2rem;
            font-weight: 700;
            color: var(--head-c);
            position: relative;

            span {
                font-weight: 300;
                font-size: 1rem;
                font-size: 1rem;
                margin-left: 10px;
                position: absolute;
                top: -2px;
                color: var(--para-c)
            }
        }

        .select {
            margin-top: 2rem;
            color: var(--card-c);
            padding: 1rem 2rem;
        }

    }
}

.display {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--head-c);
}

p {
    color: var(--para-c);
    font-size: .85rem;
    line-height: 25px;
}

main {
    z-index: 1;
    position: relative;

    .cards {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: -3.5rem auto 0;


        .main-card {
            text-align: center;

            .masterLogo {
                margin-top: -10%;
            }

            .master-heading {
                margin: 2rem 0 1rem;
                font-size: 24px;
            }

            .about {
                padding: 0 1rem;
            }

            .interactive {
                padding: 2rem;
                display: flex;
                justify-content: space-between;

                .back-project {
                    padding: 1rem 2.5rem;
                }

                input {
                    display: none;
                }
            }
        }
    }

    .stats-card {
        margin: 1.5rem auto;
        text-align: center;
        padding: 2rem 1rem;

        h2 {
            font-size: 2rem;
        }

        p {
            margin-top: .5rem
        }

        .progress {
            width: 100%;
            height: .8rem;
            background-color: rgb(224, 224, 224);
            border-radius: 50px;

            .progress-one {
                width: 80%;
                height: inherit;
                border-radius: 50px;
                background-color: var(--button-c);
            }
        }
    }

    .about-card {
        padding: 1.5rem;
        margin-bottom: 4rem;

        .more-one {
            margin-top: 1.3rem;
        }

        .more-two {
            margin-top: 2rem;
        }

        .Mahogany-card {
            position: relative;

            .select {
                background-color: gray;
            }
        }

        .Mahogany-card::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            top: 0;
            left: 0;
            opacity: .5;
        }


    }

}